<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
      <link type="text/css" href="https://www.nankai.edu.cn/_css/_system/system.css" rel="stylesheet"/>
<link type="text/css" href="https://www.nankai.edu.cn/_upload/site/1/style/6/6.css" rel="stylesheet"/>
<link type="text/css" href="https://www.nankai.edu.cn/_upload/site/01/08/264/style/252/252.css" rel="stylesheet"/>
<link type="text/css" href="https://www.nankai.edu.cn/_js/_portletPlugs/sudyNavi/css/sudyNav.css" rel="stylesheet" />
<link type="text/css" href="https://www.nankai.edu.cn/_js/_portletPlugs/datepicker/css/datepicker.css" rel="stylesheet" />
<link type="text/css" href="https://www.nankai.edu.cn/_js/_portletPlugs/simpleNews/css/simplenews.css" rel="stylesheet" />
<link href="https://www.nankai.edu.cn/_upload/tpl/02/58/600/template600/css/reset.css" rel="stylesheet" type="text/css" />
<link href="https://www.nankai.edu.cn/_upload/tpl/02/58/600/template600/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="title"><h1>南开简报</h1></div>
    <div id="pic"></div>
    <div class="container">
        <div class="w">
            <div class="page_con_main">
                <div class="page_con_list">
                    <div class="wp_news_w21">
                        <ul class="newslist"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>
</html>